@import url('https://fonts.googleapis.com/css?family=Montserrat|M+PLUS+1p:300');

/* basic */

*,body {
    margin: 0;
    padding: 0;
}

body {
    background: #fafafa;
}

input {
    outline: none;
}

/* header */

header {
    background: white;
    box-shadow: 0 0px 3px 0 #bfbfbf;
    text-align: center;
    padding: 10px;
    cursor: default;
}

header h1,h2 {
    display: inline;
    color: grey;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: normal;
}

header h1 {
    font-weight: bold;
}

/* main block */

div.main {
    position: relative;
    background: white;
    width: 500px;
    margin: 20px auto;
    box-shadow: 0 0 1px 0 #e0e0e0;
    padding: 30px 10px;
    text-align: center;
    
}
.main h1, .main h2, .main h3 {
    display: block;
    padding: 0;
    font-family: 'M PLUS 1p', sans-serif;
}
.main h1 {
    color: #484848;
    font-size: 30px;
    font-weight: normal;
}
.main h2 {
    color: grey;
    margin-bottom: 10px;
    font-size: 13px;

}
.main h3 {
    position: absolute;
    bottom: 4px;
    left: 7px;
    font-size: 13px;

}

.main h3 a {
    color: grey;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 13px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;

}
.main h3 a:hover {
    color: #929ba7;
}
.main input[type=text] {
    display: block;
    margin: 10px auto;
    width: 170px;
    height: 18px;
    font-size: 13px;
    font-family: Montserrat;
    background: #f3f3f3;
    border: none;
    padding: 3px;
    padding-left: 10px;
}

.main input[type=submit] {
    background: #6262dc;
    padding: 8px;
    margin: 10px 0;
    color: white;
    border: none;
    transition: .2s;
    cursor: pointer;
}
.main input[type=submit]:hover {
    background: #f1f1f1;
    padding: 8px;
    margin: 10px 0;
    color: #6262dc;
    border: none;
    box-shadow: 0 0 1px 0 darkgrey;
}
.faq {
    position: absolute;
    bottom: 5px;
    right: 30px;
    width: 100px;
}

.msg {
    display: block;
    background: red;
    width: 400px;
    margin: 10px auto;
    text-align: center;
    padding: 5px;
    color: white;
    font-family: Montserrat;
    
}

